__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
ENV/
env/

.env
token.pickle
credentials.json
service_account.json
service_account.generated.json

uploads/
uploads/*.xlsx
assets/*.pdf
assets/*.png

.ipynb_checkpoints/
.DS_Store
Thumbs.db

.vscode/
.idea/

*.log

*.exe
*.dll
*.so
*.dylib

.history/